<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar juegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar
  [animated]="true"
  placeholder="{{ value }}"
  (ionInput)="findGame($event)"
  [debounce]="550"
  (click)="onClick()"
  color="primary">
</ion-searchbar>


<ion-row>
  <ion-label class="ion-padding" color="secondary">Sugerencias:</ion-label>
</ion-row>
<ion-row>
  <!-- <ion-spinner *ngIf="spinner" name="bubbles" duration="1000"></ion-spinner> -->
</ion-row>

<ion-card *ngFor="let game of games.results" (click)="verDetalle(game.id)">
  <ion-card-header>
    <ion-card-title>{{game.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img [src]="game.background_image"></ion-img>
    
  </ion-card-content>
</ion-card>

<ion-row>
  <ion-col size="12" style="text-align:right" expand="block">
    <a class="credit" href="https://rawg.io/"  style="font-size: 8px">Data provided by: RAWG</a>
  </ion-col>
</ion-row>

</ion-content>
