<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar juegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
  [animated]="true"
  placeholder = {{value}}
  (ionChange)="findGame($event)" 
  [debounce]="550" 
  (click)="onClick()"
  color="primary">
</ion-searchbar>

<ion-label class="ion-padding" color="secondary">Sugerencias:</ion-label>

<ion-card *ngFor="let game of games.results" (click)="verDetalle(game.id)">
  <ion-card-header>
    <ion-card-title>{{game.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img [src]="game.background_image"></ion-img>
    
  </ion-card-content>
</ion-card>


</ion-content>
