<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Novedades
    </ion-title>
    <ion-title slot="end">
      Tema
    </ion-title>
    <ion-toggle 
        color="light" 
        slot="end"
        (ionChange)="changeTheme($event)"
        ></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper 
  [config]="config" #swiper
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide *ngFor="let game of games.results; let i = index">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
        <ion-row  class="ion-align-items-center">
          <ion-col size="8" slots="start">
            <ion-label expand="block">{{game.name}}</ion-label>
             
            </ion-col>
            <ion-col slots="end">
              <ion-button (click)="onOpenMenu(game.id)" fill="clear" expand="block">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>
        <ion-img [src]="game.background_image"  (click)="verDetalle(game.id)"></ion-img>

          <ion-button (click)="sinopsis(game.id)" fill="clear" shape="round">
            {{leer}}
          </ion-button>
          <ion-item *ngIf="oculto !== 0">
            {{description.description_raw}}
          </ion-item>

        <ion-item>
          <ion-label>Lanzado:</ion-label>
          <ion-icon slot="start" name="rocket-outline" color="primary"></ion-icon>
          {{game.released}}
        </ion-item>
        <ion-item>
          <ion-label>Puntuación:</ion-label>
          <ion-icon slot="start" name="thumbs-up-outline" color="primary" expand="block"></ion-icon>
          {{game.rating}} / 5
        </ion-item>
    </ion-card>
  </ng-template>
</swiper>

<ion-row>
  <ion-col size="12" style="text-align:right" expand="block"
    class="credit" (click)="openWebBrowser('https://rawg.io/')"><a style="font-size: 8px">Data provided by: RAWG</a>
  </ion-col>
</ion-row>
</ion-content>
