<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Juegos Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper [config]="config" #swiper>
    <ng-template swiperSlide *ngFor="let game of juegosFavoritos">
      <ion-card mode="md" (click)="verDetalle(game.id)">
        <img [src]="game.background_image" class="slide-image" />
        <ion-card-header>
          <ion-card-subtitle><h1>{{game.name}}</h1></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> {{game.description}}</ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>
</ion-content>
